@charset "utf-8";


.backBox{
  background-color: #014931;
  padding: 150px;
}
.backBox h2{
  color: #A0AA95;
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
}
.loginBox{
  background: #e0e0e0;
  padding: 150px;
}
.loginBox .info{
  text-align: center;
  font-size: 13px;
  color: #999;
  margin: 5px 0 40px 0;
}

.loginbgBox{
  background-color: #eeeeee;
  display: inline-block;
  padding: 80px 200px 50px 150px;
}
.loginBox  h3{
  font-size: 30px;
}
.loginBox > div {
  text-align: center;
}
.loginBox form p{
  padding: 20px 0;
}
.loginBox > div label{
  text-align: right;
  margin-right: 10px;
  width: 50px;
  
}
.loginBox > div input{
  width: 200px;
  height: 30px;
  background-color: #f6f6f6;
  text-indent: 0.5em;
  border: 1px #cdcdcd solid;

}
.loginBox > div p{
  font-size: 13px;
  padding: 5px 0;
  text-align: center;
}
.loginBo form{
  position: relative;
}
.loginForm button{
  width: 70px;
  height: 75px;
  background-color: #3b3a3b;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  top: -80px;
  left: 200px;
  /* transform: translate(-50%); */
}
.loginBox .idpwfind{
  font-size: 11px;
  color: #777;
  text-align: center;
  padding-top: 5px;
  position: relative;
  bottom: 80px;
  left: 40px;
}
.loginBox .idpwfind a {
  border: 1px solid #cdcdcd;
  background: #fefefe;
  border-radius: 3px;
  margin-left: 10px;
  padding: 2px 5px;
  display: inline-block;
}
.loginBox .idpwfind  {
  margin: 20px 0;
}